.card-checkbox {
    display: none;
}
.card-back, .card-front {
    position: absolute;
    width: 250px;
    height: 350px;
    object-fit: fill;
    backface-visibility: hidden;
    transition:transform 1s ease;
    user-select: none;
}
.card-checkbox:checked + label  {
    .card-back {
        transform: rotateY(180deg) rotateX(90deg);
    }
    .card-front {
        transform: rotateY(0deg)  rotateX(0deg);
    }
}
.card-checkbox:not(:checked) + label {
    .card-back {
        transform: rotateY(0deg) rotateX(0deg);
    }
    .card-front {
        transform: rotateY(180deg)  rotateX(90deg);
    }
}

#cards-list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}